@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.titulo {
  padding: 15px;
  width: 50vw;
  margin: auto;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 45px;
  color: blanchedalmond;
}
p{
  padding: 15px;
  width: 30vw;
  margin: auto;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  color: goldenrod;

}

h3{
  color: blanchedalmond;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}
body{
 background-color: midnightblue;
 background-image: url(img/juego-del-ahorcado.png);
 background-repeat: no-repeat;


}

.footer h6{

  color: crimson;
  width: 100%;
  height: auto;
  background-color: bisque;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
  text-align: center;
  font-weight: bold;
}

